@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  @apply bg-gray-900 text-slate-400
}
.inputArea{
  @apply p-2 w-full bg-transparent border border-slate-300 text-slate-300
}
.inputArea option{
  @apply text-slate-600
}
.btnSecondary {
  @apply bg-slate-300 text-gray-600 px-3 py-2
}
.btnPrimary {
  @apply bg-green-500 text-white px-3 py-2
}
.leaflet-container{
  @apply h-[calc(100vh-200px)] w-full
}